.main-header {
    margin-bottom: 50px;
    text-align: center;
}

.main-header h2 {
    margin-top: 10px; /* Removes browser default top margin */
    margin-bottom: 10px; /* Sets a consistent bottom margin */
    font-size: 2.2em;
    font-weight: bold;
    color: #333;
}

.main-header p {
    font-size: 1.1em;
    color: #555;
    max-width: 800px;
    margin: 0 auto; /* Center the subtitle text */
    margin-bottom: 5px;
}
